# vim: set filetype=fish :
set -g fish_greeting
set -gx EDITOR nvim

alias vim='nvim'
alias vi='nvim'

# Initialize Starship prompt if available
if command --search starship >/dev/null
    starship init fish | source
end

# Initialize Mise if available
if command --search mise >/dev/null
    mise activate fish | source
end

# Initialize Atuin if available
if command --search atuin >/dev/null
    atuin init fish --disable-up-arrow | source
end

# Initialize fzf if available
# if command --search fzf >/dev/null
#    fzf --fish | source
# end

# Initialize Zoxide if available
if command --search zoxide >/dev/null
    zoxide init fish | source
end
