set -g fish_greeting # Unset welcome message
set -gx EDITOR nvim

alias vim='nvim'
alias vi='nvim'

{{ if eq .chezmoi.os "darwin" -}}
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin
{{ end -}}

# Initialize Starship prompt if available
if command --search starship >/dev/null
    starship init fish | source
end

# Initialize Mise if available
if command --search mise >/dev/null
    mise activate fish | source
end

# Initialize Atuin if available
if command --search atuin >/dev/null
    atuin init fish --disable-up-arrow | source
end

# Initialize Zoxide if available
if command --search zoxide >/dev/null
    zoxide init fish | source
end

# Initialize Docker completions if available
if command --search docker >/dev/null
    docker completion fish | source
end

# Initialize rg completions if available
if command --search rg >/dev/null
    rg --generate complete-fish | source
end
