{{/* boolean feature tags */}}
{{- $ephemeral := false -}}  {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}       {{/* true if this machine is a work machine */}}
{{- $headless := false -}}   {{/* true if this machine does not have a screen and keyboard */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers or Docker containers */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "MBP-295" -}}
{{-     $work = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "peter@home.tld" -}}
{{- if not $headless -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $email_work := $email -}}
{{- if and $work (not $headless) -}}
{{-   $email_work = promptString "work email" $email_work -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"
edit:
  command: "zed"
  args: ["--wait"]
data:
  email: {{ $email | quote }}
  email_work: {{ $email | quote }}
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  hostname: {{ $hostname | quote }}
  name: "Peter Golm"
  work: {{ $work }}
