{{- $is_codespaces:= env "CODESPACES" | not | not -}}
{{- $is_devcontainer:= env "VSCODE_GIT_ASKPASS_EXTRA_ARGS" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  fullname = "Peter Golm"
  codespaces = {{ $is_codespaces }}
{{- if or $is_codespaces $is_devcontainer }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
  email = "your@email.com"
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
  email = "{{ promptString "email" }}"
{{- end }}
