{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo "noop on linux"
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

if ! [ -x "$(command -v brew)" ]; then
    echo 'Install brew...'
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi

brew cask install 1password
brew cask install 1password-cli
brew cask install alfred
brew cask install docker
brew cask install google-chrome
brew cask install iterm2
brew cask install visual-studio-code
{{ end -}}
