{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

sudo apt-add-repository -y \
    ppa:fish-shell/release-3

sudo apt update
sudo apt install -y \
    git \
    fish \
    tmux \
    fzf \
    bat \
    fd-find

# install starship
curl -fsSL https://starship.rs/install.sh | bash -s -- -y

git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.8.0
{{ end }}
