{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

sudo apt update
sudo apt install -y \
    direnv \
    fish \
    tmux \
    fzf \
    bat \
    fd-find

# install starship
curl -fsSL https://starship.rs/install.sh | bash
{{ end }}