#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
if ! [ -x "$(command -v brew)" ]; then
    echo 'Install brew...'
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi

brew bundle --file=- << EOF
# cask "1password-cli"
# cask "1password"
cask "alfred"
cask "docker"
cask "google-chrome"
cask "homebrew/cask-versions/iterm2-beta"
cask "visual-studio-code"
cask "obsidian"

tap "homebrew/cask-fonts"
cask "font-hack-nerd-font"
cask "font-jetbrains-mono"

brew "fish"
brew "tmux"
brew "starship"

brew "fzf"
brew "fd"
brew "bat"
brew "asdf"
EOF
{{ end -}}
