{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

sudo apt update
sudo apt-get install -y software-properties-common

{{- if (eq .chezmoi.osRelease.versionCodename "bullseye") -}}
echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_11/ /' | sudo tee /etc/apt/sources.list.d/shells:fish:release:3.list
curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:3/Debian_11/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null
sudo apt update
sudo apt install -y fish
{{ else }}
sudo apt-add-repository -y \
    ppa:fish-shell/release-3
{{ end }}

sudo apt update
sudo apt install -y \
    git \
    fish \
    tmux \
    fzf \
    bat \
    fd-find

# install starship
curl -fsSL https://starship.rs/install.sh | bash -s -- -y

if [ ! -e $HOME/.asdf ]
then
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.8.0
fi
{{ end }}
