{{- if eq .chezmoi.os "darwin" }}
Host *
{{- if eq .hostname "MBP-295" -}}
{{/* - if .work */}}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
  AddKeysToAgent yes
  ForwardAgent yes
  UseKeychain yes
{{- end }}
